<%- include("header") -%>

<!-- <link rel="stylesheet" href="/css/style.css"> -->
<link rel="stylesheet" href="/css/U_profile.css">

<%- include("navbar") -%>
    
        <section class="profile">
            <div class="card">
                <div class="d-flex align-items-start basic">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <img src="img/profile.png" class="user-image" alt="">
                        <!-- <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true"><i class="bi bi-house-door-fill"></i>Home</button> -->
                        <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false"><i class="bi bi-person-badge"></i>Account Details</button>
                        <button class="nav-link" id="v-pills-password-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-password" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false"><i class="bi bi-key-fill"></i>Change Password</button>
                        <button class="nav-link" id="v-pills-logout-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-logout" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false"><i class="bi bi-box-arrow-in-left"></i>Logout</button>
                    </div>

                </div>

                <div class="user-details">
                    <h3>Account Details</h3>
                    <div class="edit" id="edit-details"><i class="bi bi-pencil-square"></i></div>
                    <div class="info">

                        <label class="key" for="email">Email</label>
                        <input class="value" type="text" name="email" id="email" value="<%=user.email%>" readonly>
                        <label class="key" for="phone">Phone</label>
                        <input class="value" type="text" name="phone" id="phone" value="<%=user.PhoneNo%>" readonly>
                        <label class="key" for="blood-group">Blood Group</label>
                        <input class="value" type="text" name="blood-group" id="blood-group" value="<%=user.BloodGrp%>" readonly>
                        <label class="key" for="dob">Date of Birth</label>
                        <input class="value" type="text" name="dob" id="dob" value="<%=user.DOB%>" readonly>

                        <!-- <label class="key" for="age">Age</label>
                        <input class="value" type="text" name="age" id="age" value="<%=user.%>" readonly> -->
                        <label class="key" for="address">Address</label>
                        <input class="value" type="text" name="address" id="address" value="<%=user.Address%>" readonly>
                    </div>
                    <div class="update">
                        <button type="button" class="btn btn-success">Update</button>
                    </div>


                </div>
                <div class="user-password">
                    <h3>Account Details</h3>
                    <div class="info">
                        <label class="key" for="old">Old Password</label>
                        <input class="value" type="text" name="old" id="old" value="">
                        <label class="key" for="new">New Password</label>
                        <input class="value" type="text" name="new" id="new" value="">
                        <label class="key" for="confirm">Confirm Password</label>
                        <input class="value" type="text" name="confirm" id="confirm" value="">
                    </div>
                    <div class="update">
                        <button type="button" class="btn btn-success">Change Password</button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include("footer") -%>
    
    <script src="./js/U_profile.js"></script>
</body>

</html>